<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="global-archiver.ZPM">
    <Module>
      <Name>global-archiver</Name>
      <Version>0.0.5</Version>
      <Description>Tool to move a part of a global from a database to another database.</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="lscalese.globalarchiver.PKG"/>
    </Module>
  </Document>
</Export>